---
on:
  push: {}
  workflow_dispatch: {}

name: Build & Test

jobs:
  build-test:
    name: Build & Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v5

      - name: Build Container Image
        run: make image-build

      - name: Run Tests
        run: make test
